.main{
    background-color: white;
}
.nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 1vh;
}
.navRight{
    display: flex;
    margin-right: 10vh;
    span{
        &:hover{
            cursor: pointer;
        }
    }
    span:last-of-type{
        margin-left: 3vh;
    }
}
.navLeft{
    display: flex;
    margin-left: 4vh;
    span{
        &:hover{
            cursor: pointer;
        }
    }
}